.profile-container {
  border-radius: 12px;
  width: 100%;
  min-height: 160px; /* or your 200px if needed */
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; /* clip inner edges to rounded corners */
  padding: 16px;
  margin-bottom: 25px;
}

.profile-section {
  padding: 0px;
}

.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin: 8px 0px;
}

.profile-name {
  color: #6366f1;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 8px 0px;
}

.profile-bio {
  color: #2c364c;
  font-size: 14px;
  font-family: 'Roboto';
  margin: 0px;
}

.profile-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.failure-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.retry-button {
  background-color: #4f46e5;
  color: #f8fafc;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 8px;
}
