.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding: 40px 10px;
}

@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 10px;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
}

.home-heading {
  font-family: 'Roboto';
  font-weight: bold;
  margin: 0px;
  font-size: 30px;
  color: #ffffff;
  text-align: left;
  line-height: 1.3;
}

.home-description {
  font-family: 'Roboto';
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 1.2;
  color: #cbd5e1;
  text-align: left;
}

@media screen and (min-width: 576px) {
  .home-heading {
    line-height: 1.5;
    font-size: 42px;
    width: 65%;
  }
  .home-description {
    margin-top: 20px;
    line-height: 1.4;
    font-size: 22px;
    width: 55%;
  }
}

.find-jobs-button {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  padding: 16px 20px;
  margin-top: 10px;
  color: #f8fafc;
  background-color: #6366f1;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  width: 140px;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 68px;
  }
  .find-jobs-button {
    border-radius: 12px;
    margin-top: 30px;
    font-size: 16px;
  }
}
