.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .nav-header {
    padding: 15px 35px;
  }
}

.nav-bar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-logo {
  width: 120px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 135px;
  }
}

.nav-bar-menu-mobile-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .nav-bar-menu-mobile-logo-container {
    display: none;
  }
}

.nav-mobile-menu-item {
  list-style-type: none;
  margin: 5px;
}

.nav-link {
  text-decoration: none;
}

.nav-mobile-logout-btn {
  display: flex;
  justify-content: center;
  background-color: #272727;
  border: none;
  outline: none;
  cursor: pointer;
}

.home-jobs-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .home-jobs-container {
    display: block;
  }
}

.nav-menu-desktop {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
}

.nav-menu-item {
  margin: 10px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #f1f5f9;
}

.logout-button-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .logout-button-container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.logout-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #f1f5f9;
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}
